# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Some of the commonly used libraries used by Data Scientists 
* few examples of evaluating arithmetic expressions in Python
* Create a table of Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. NumPy

|  Data Science Tools  |
|----------------------|
| RStudio |
| Apache Spark |
| Hadoop |

### H3 : Below are a few examples of evaluating arithmetic expressions in Python 
1. Add
2. Subtract
3. Multiply

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

[1] 17

In [4]:
# This will convert 200 minutes to hours by diving by 60
a=200
b=a/60
print(b)

[1] 3.333333

##H2 : Author \n
Surabhi.N